/*
 *  * --------------- Global ---------------
 *   */

html {
  font-size: 16px;
  box-sizing: border-box;
}

@font-face {
  font-family: 'InsaniBurguer';
  src: local('Insanibc'), url(./fonts/Insanibc.ttf) format('truetype');
}

*,
*:before,
*:after {
  /* Inherit box-sizing to make it easier to change the property for
         * components that leverage other behavior; see
         * http://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/
         * */
  box-sizing: inherit;
}

body {
  background: #ffffff;
}

img {
  height: auto;
  max-width: 100%;
  display: block;
}

svg {
  display: inline-block;
}

p {
  margin-top: 0;
  margin-bottom: 0;
}

ul,
ol {
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}

li {
  list-style: none;
}

ol {
  list-style: decimal;
}

section {
  outline-width: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

hr {
  margin-bottom: 0;
}

a {
  display: block;
  text-decoration: none;
}

/*
 * --------------- Custom scrollbar ---------------
 */
/* --- Chrome and Safari body scroll --- */
html {
  --track-bg: #ffffff;
  --thumb-bg: #e4e6ea;
}
body::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}
body {
  scrollbar-width: thin;
  overflow: auto;
  scrollbar-color: var(--thumb-bg) var(--track-bg);
}
body::-webkit-scrollbar-track {
  background: var(--track-bg);
}
body::-webkit-scrollbar-thumb {
  background-color: var(--thumb-bg);
  border-radius: 6px;
}